snippet head "head~"
	# 工作安排

	## 今日工作

	- [ ] ${1}
	- [ ] ${2}

	## 昨日工作

	## 明日工作

	## 记录

snippet mm "month~"
	# ${1:`strftime("%Y %m")`}

	## todo

	## event

	## check

snippet dd "day~"
	# ${1:`strftime("%Y %m %d")`}

	## todo

	## event

	## check


snippet td "todo list"
	- [ ] ${1}

snippet ref "ref~"
	[${1}](${2})  
